<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mbpl.graphical.passwords">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="mbpl.graphical.passwords.passPoints.ChoixPoints"
            android:label="PassPoints : Choix des points"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="mbpl.graphical.passwords.passPoints.Deverouillage"
            android:label="PassPoints : Deverouillage"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="mbpl.graphical.passwords.passPoints.ChoixImage"
            android:label="PassPoints : Choix de l&apos;image"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="mbpl.graphical.passwords.Accueil"
            android:label="MBPL"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="mbpl.graphical.passwords.dejaVu.Accueil" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="mbpl.graphical.passwords.dejaVu.Authentification" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="mbpl.graphical.passwords.dejaVu.Creation" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="mbpl.graphical.passwords.dejaVu.Configuration" android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>


    </application>

</manifest>
